<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 

</head>

<body>
 <div class="login" >
    <strong>Check this project out on <a style="color: rgba(249,164,4);" href="https://github.com/xybervenom/Predict-Covid-Report">GitHub</a></strong>
    <strong>Made with ❤️ by <a style="color: rgb(249,164,4);" href="https://github.com/xybervenom">Jayant Jain</a></strong>
	<h1>Predict Corona Report</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="age" placeholder="Age" required="required" />
        <input type="text" name="sex" placeholder="Sex" required="required" />
		<input type="text" name="wbc" placeholder="WBC" required="required" />
        <input type="text" name="neut" placeholder="NEUT" required="required" />
        <input type="text" name="neut#" placeholder="NEUT#" required="required" />
		<input type="text" name="lym" placeholder="LYM" required="required" />
		<input type="text" name="lym#" placeholder="LYM#" required="required" />
        <input type="text" name="cd3" placeholder="CD3+ T cells(%)" required="required" />
		<input type="text" name="cd3_cd4" placeholder="CD3+CD4+ cells (%)" required="required" />
		<input type="text" name="cd3_cd8" placeholder="CD3+CD8+ cells (%)" required="required" />
        <input type="text" name="cd4_cd8" placeholder="CD4+/CD8+ ratio" required="required" />
		<input type="text" name="crp" placeholder="CRP, mg/L" required="required" />
		
        <input type="text" name="pct" placeholder="PCT, ng/Ml" required="required" />
		<input type="text" name="pCO2" placeholder="pCO2, mm Hg" required="required" />
		<input type="text" name="pO2" placeholder="pO2, mm Hg" required="required" />
        <input type="text" name="so2" placeholder="SO2 (%)" required="required" />
		<input type="text" name="ldh" placeholder="LDH, U/L" required="required" />
		<input type="text" name="fib" placeholder="Fib, g/L" required="required" />
		<input type="text" name="dd" placeholder="D‐D, ug/mL" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
   <br>
   <br>


 </div>


</body>
</html>


